/*!
 */

body {
  padding-top: 60px;
  background: #ffffff;
}

a:focus {outline : none;}
a img {outline : none;}
img {border : 0;}

/* message box */
#message_box {
    background-color: rgba(152, 6, 0, 0.8);
    cursor: pointer;
    height: 58px;
    left: 0;
    overflow: hidden;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 9999999;
}
#message_box, .dispoff {
    display: none;
}
#message_box #alert {
	cursor: pointer;
	text-shadow: #000 0 0 0;
	line-height: 30px;
	width: 100%;
	margin: auto;
	color: #fff;
	font-weight: normal;
	font-style: normal;
	text-decoration: none;
	font-variant: normal;
	font-size: 2.0em;
	text-align: center;
	display: block;
	position: relative;
	overflow: hidden;
}

/* Set the fixed height of the footer here */
#footer {
    /*position: fixed;*/
    bottom: 0;
    height: 23px;
    background-color: #f5f5f5;
    text-align: center;
	border-top: 1px solid #e5e5e5;
    margin-top: 30px;
}

#footer p {
    margin: 0;
    margin-top: 2px;
    font-size: 12px;
}

#footer p a:link,
#footer p a:visited {
    color: #999999;
    font-weight: bold;
    font-size: 13px;
}

.bs-sidebar.affix-bottom .bs-sidenav, .bs-sidebar.affix .bs-sidenav {
    margin-bottom: 0;
    margin-top: 0;
}
.bs-sidenav {
    background-color: #F7F5FA;
    border-radius: 5px;
    margin-bottom: 30px;
    margin-top: 30px;
    padding-bottom: 10px;
    padding-top: 10px;
    text-shadow: 0 1px 0 #FFFFFF;
}

.bs-sidebar .nav .nav > li > a {
    font-size: 90%;
    padding-bottom: 3px;
    padding-left: 30px;
    padding-top: 3px;
}
.bs-sidebar .nav > li > a {
    color: #716B7A;
    display: block;
    padding: 5px 20px;
}
.btn-file {
    position: relative;
    overflow: hidden;
}
.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 999px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
}

.unsel {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.fsmall {
    font-size: 65%;
}

div.green,
small.green {
  color: #05e606
}
